<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/im/js/NIM_Web_NIM_v6.6.6.js"></script>
    <script src="/im/js/IM/index.js"></script>
    <script src="/im/js/IM/md5.js"></script>
    <script src="/im/js/IM/jquery-2.1.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
Hello:
<input id="jiemaogao" type="image"  src="/im/img/jiemaogao.png" value="http://localhost:9092/im/img/jiemaogao.png"/>
<button type="button"  onclick="sendMessage()">发送</button>
</body>
</html>